body,
html,
#root {
  background-color: #202124;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  display: flex;
  height: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 3%;
  margin-left: 1%;
}

.balance {
  color: #fff;
  align-self: flex-start;
  margin-left: 3%;
}

.currency {
  color: #aeb3b7;
  font-size: medium;
}

ul {
  list-style: none;
  display: flex;
  align-self: flex-start;
}

li {
  margin: 0 15px;
}

li button {
  font-size: large;
  border: none;
  background: none;
  color: #aeb3b7;
}

li button.selected {
  border-bottom: 5px solid #8ab4f8;
  color: #8ab4f8;
}
